In [2]:
%load_ext gams_magic

In [3]:
%%gams

set N /1*5/;  

alias(N,j);

set A(N,N) /1.2, 1.3, 1.4, 3.2, 3.4, 5.2, 5.3, 5.4/; 

parameters c(N, N)/1.2 220, 1.3 80, 1.4 280, 3.2 40, 3.4 50, 5.2 140, 5.3 100, 5.4 170/,
u(N, N)/1.2 200, 1.3 200, 1.4 200, 3.2 200, 3.4 200, 5.2 200, 5.3 200, 5.4 200/,
s(N)/1 400, 2 -300, 4 -400, 5 300/;

variables x(N,N), totalcost; 
positive variable x;

equations balance(N),obj;

obj.. totalcost =e= sum(A, c(A)*x(A));

balance(N).. sum(j$A(N,j), x(N,j))  - sum(j$A(j,N), x(j,N)) =e= s(N);

x.up(A) = u(A);

model mcnfp /all/;
solve mcnfp using lp minimizing totalcost;

,Solver Status,Model Status,Objective,#equ,#var,Model Type,Solver,Solver Time
0,Normal (1),Optimal Global (1),118000.0,6,9,LP,OSICPLEX,0

In [4]:
%gams display x.l,totalcost.l
%gams_lst -e

E x e c u t i o n


----     32 VARIABLE x.L

            2           3           4

1     200.000     200.000
3     100.000                 200.000
5                 100.000     200.000


----     32 VARIABLE totalcost.L           =   118000.000

In [5]:
%gams_reset

In [7]:
%%gams

set N /1*6/;  

alias(N,j);

set A(N,N) /1.2, 1.6, 1.4, 3.2, 3.4, 5.2, 5.6, 5.4, 6.3/; 

parameters c(N, N)/1.2 220, 1.6 80, 1.4 280, 3.2 40, 3.4 50, 5.2 140, 5.6 100, 5.4 170, 6.3 0/,
u(N, N)/1.2 200, 1.6 200, 1.4 200, 3.2 200, 3.4 200, 5.2 200, 5.6 200, 5.4 200, 6.3 100/,
s(N)/1 400, 2 -300, 4 -400, 5 300/;

variables x(N,N), totalcost; 
positive variable x;

equations balance(N),obj;

obj.. totalcost =e= sum(A, c(A)*x(A));

balance(N).. sum(j$A(N,j), x(N,j))  - sum(j$A(j,N), x(j,N)) =e= s(N);

x.up(A) = u(A);

model mcnfp /all/;
solve mcnfp using lp minimizing totalcost;

,Solver Status,Model Status,Objective,#equ,#var,Model Type,Solver,Solver Time
0,Normal (1),Optimal Global (1),133000.0,7,10,LP,OSICPLEX,0.001

In [8]:
%gams display x.l,totalcost.l
%gams_lst -e

E x e c u t i o n


----     60 VARIABLE x.L

            2           3           4           6

1     200.000     200.000     100.000     100.000
3                             100.000
5     100.000                 200.000
6                 100.000


----     60 VARIABLE totalcost.L           =   133000.000