In [1]:
import pandas as pd
from IPython.display import display
from tabulate import tabulate
# tabulate allows to print data frames in Jupyter markdown format:
# print(tabulate(gt_from2dim(dist,['sites','mills','val']), tablefmt="pipe", headers="keys"))

# gt_from2dim
This transforms a data frame like this

|  Index  |   Mill A |   Mill B |   Mill C |
|---:|---------:|---------:|---------:|
|  1 |        8 |       15 |       50 |
|  2 |       10 |       17 |       20 |
|  3 |       30 |       26 |       15 |

into the data frame with GAMS readable format

| Index   |   level_0 | level_1   |   0 |
|---:|----------:|:----------|----:|
|  0 |         1 | Mill A    |   8 |
|  1 |         1 | Mill B    |  15 |
|  2 |         1 | Mill C    |  50 |
|  3 |         2 | Mill A    |  10 |
|  4 |         2 | Mill B    |  17 |
|  5 |         2 | Mill C    |  20 |
|  6 |         3 | Mill A    |  30 |
|  7 |         3 | Mill B    |  26 |
|  8 |         3 | Mill C    |  15 |

call: gt_from2dim(df)

With the additional argument the default columns names can be renamed:

| Index   |   sites | mills   |   val |
|---:|--------:|:--------|------:|
|  0 |       1 | Mill A  |     8 |
|  1 |       1 | Mill B  |    15 |
|  2 |       1 | Mill C  |    50 |
|  3 |       2 | Mill A  |    10 |
|  4 |       2 | Mill B  |    17 |
|  5 |       2 | Mill C  |    20 |
|  6 |       3 | Mill A  |    30 |
|  7 |       3 | Mill B  |    26 |
|  8 |       3 | Mill C  |    15 |

call: gt_from2dim(df,['sites','mills','val'])

In [2]:
def gt_from2dim(df, column_names=None):
    if column_names==None:
        return pd.DataFrame(df.stack()).reset_index()
    else:
        df = pd.DataFrame(df.stack()).reset_index()
        return df.rename(columns=dict(zip(df.columns, column_names)))

# gt_pivot
This transforms a GAMS compatible data frame into a more readable form. It takes a data frame like this

| Index   |   sites | mills   |   val |
|---:|--------:|:--------|------:|
|  0 |       1 | Mill A  |     8 |
|  1 |       1 | Mill B  |    15 |
|  2 |       1 | Mill C  |    50 |
|  3 |       2 | Mill A  |    10 |
|  4 |       2 | Mill B  |    17 |
|  5 |       2 | Mill C  |    20 |
|  6 |       3 | Mill A  |    30 |
|  7 |       3 | Mill B  |    26 |
|  8 |       3 | Mill C  |    15 |

and transforms it into something like this

| Index   |   Mill A |   Mill B |   Mill C |
|---:|---------:|---------:|---------:|
|  1 |        8 |       15 |       50 |
|  2 |       10 |       17 |       20 |
|  3 |       30 |       26 |       15 |

call: gt_pivot(df,index='sites',columns='mills',values='val')

In [3]:
def gt_pivot(df, index=None, columns=None, values=None):
    df = df.pivot(index=index, columns=columns, values=values)
    df.index.names = [None]
    df.columns.names = [None]
    return df

# gt_pivot2d
gt_pivot2d build on top of gt_pivot and uses the first three columns as the index, column and values:

| Index   |   sites | mills   |   level |       marginal |   lower |   upper |   scale |
|---:|--------:|:--------|--------:|---------------:|--------:|--------:|--------:|
|  0 |       1 | Mill A  |       0 |   4.94066e-324 |       0 |     inf |       1 |
|  1 |       1 | Mill B  |      20 |   0            |       0 |     inf |       1 |
|  2 |       1 | Mill C  |       0 | 184            |       0 |     inf |       1 |
|  3 |       2 | Mill A  |      30 |   0            |       0 |     inf |       1 |
|  4 |       2 | Mill B  |       0 |   0            |       0 |     inf |       1 |
|  5 |       2 | Mill C  |       0 |  56            |       0 |     inf |       1 |
|  6 |       3 | Mill A  |       0 |  44            |       0 |     inf |       1 |
|  7 |       3 | Mill B  |      15 |   0            |       0 |     inf |       1 |
|  8 |       3 | Mill C  |      30 |   0            |       0 |     inf |       1 |

and transforms it into something like this

| Index   |   Mill A |   Mill B |   Mill C |
|---:|---------:|---------:|---------:|
|  1 |        0 |       20 |        0 |
|  2 |       30 |        0 |        0 |
|  3 |        0 |       15 |       30 |

call: gt_pivot2d(df)

In [4]:
def gt_pivot2d(df):
    return gt_pivot(df,index=df.columns[0], columns=df.columns[1], values=df.columns[2])

In [5]:
sites = ['1', '2', '3']
mills = ['Mill A','Mill B', 'Mill C']
dist = pd.DataFrame(index=sites, columns=mills, data = [[8, 15, 50], [10, 17, 20], [30, 26, 15]])

In [6]:
display(dist)
#display(gt_from2dim(dist,column_names=['sites','mills','val']))
#display(gt_pivot(gt_from2dim(dist,['sites','mills','val']),index='sites',columns='mills',values='val'))
display(gt_pivot2d(gt_from2dim(dist)))

   Mill A  Mill B  Mill C
1       8      15      50
2      10      17      20
3      30      26      15

   Mill A  Mill B  Mill C
1       8      15      50
2      10      17      20
3      30      26      15