HW9, Q3.

In [2]:
%load_ext gams_magic

In [3]:
%%gams

# Oilco MCNFP

set node /SanDiego, LA, Dallas, Houston, Chicago, NewYork, Dummy/;

alias (node,j);

set arc(node,node) /(SanDiego,LA).(Dallas,Houston,Dummy), (Dallas,Houston).(Chicago,NewYork)/;

parameter
         cost(node, node) /
         SanDiego.Dallas    1120
         SanDiego.Houston   1000
         SanDiego.Dummy       0
         LA.Dallas          1000
         LA.Houston         1010
         LA.Dummy             0
         Dallas.Chicago     550
         Dallas.NewYork     450
         Houston.Chicago    530
         Houston.NewYork    470 /;

# the cost from SanDiego to Dallas is the sum of transportation cost and the refinary cost at Dallas
# similarly for LA.Dallas, SanDiego.Houston, LA.Houston

parameters
supply(node) Supply in 100000s /SanDiego 5, LA 4, Chicago -4, NewYork -3, Dummy -2/;

variable totalcost, x(node,node);

positive variable x;

equations
obj, balance(node);

obj..
totalcost =e= sum(arc, cost(arc)*x(arc));

balance(node)..
sum(j$arc(node,j), x(node,j)) - sum(j$arc(j,node), x(j,node)) =e= supply(node);

Model MCNFP /all/;

Solve MCNFP using lp minimizing totalcost;

,Solver Status,Model Status,Objective,#equ,#var,Model Type,Solver,Solver Time
0,Normal (1),Optimal Global (1),10470.0,8,11,LP,CPLEX,0.002

In [4]:
%gams display x.l, totalcost.l; 
%gams_lst -e

E x e c u t i o n


----     50 VARIABLE x.L

              Dallas     Houston     Chicago     NewYork       Dummy

SanDiego                   4.000                               1.000
LA             3.000                                           1.000
Dallas                                             3.000
Houston                                4.000


----     50 VARIABLE totalcost.L           =    10470.000

In [5]:
%gams display x.l, totalcost.l; 
%gams_lst -e

E x e c u t i o n


----     51 VARIABLE x.L

              Dallas     Houston     Chicago     NewYork       Dummy

SanDiego                   4.000                               1.000
LA             3.000                                           1.000
Dallas                                             3.000
Houston                                4.000


----     51 VARIABLE totalcost.L           =    10470.000