HW9, Q1.

In [1]:
%load_ext gams_magic

In [2]:
%%gams

set
i "warehouses" /w1, w2, w3, dummy/
j "customers" /c1*c3/;

# Because total demand exceeds total supply we add a dummy supply point with
# supply equal to total demand - total supply
# Unit transportation cost from the dummy supply point will be
# the penalty cost

parameters
s(i) "supply amount"/
        w1      30
        w2      30
        w3      30
        dummy   40/

d(j) "demand amount"/
        c1      40
        c2      50
        c3      40/;

table c(i,j) "unit transportation cost"
         c1      c2      c3
w1       15      35      25
w2       10      50      40
w3       20      40      30
dummy    70      75      65;

free variables cost "total cost";

positive variables
x (i,j) "transportation quantity";

equations
obj "minimizing the total cost",
supply(i) "the supply constraint",
demand(j) "the demand constraint";

obj..
cost =e= sum((i,j), c(i,j)*x(i,j));

supply(i)..
sum(j, x(i,j)) =e= s(i);

demand(j)..
sum(i, x(i,j)) =e= d(j);

model company /all/;
solve company using lp minimizing cost;

,Solver Status,Model Status,Objective,#equ,#var,Model Type,Solver,Solver Time
0,Normal (1),Optimal Global (1),4950.0,8,13,LP,CPLEX,0.002

In [3]:
%gams display x.l, cost.l; 
%gams_lst -e

E x e c u t i o n


----     54 VARIABLE x.L  transportation quantity

               c1          c2          c3

w1                     30.000
w2         30.000
w3         10.000      20.000
dummy                              40.000


----     54 VARIABLE cost.L                =     4950.000  total cost