In [1]:
%load_ext gams_magic

In [2]:
%%gams

set N /1*4/;  

alias(N,j);

set A(N,N) /1.2, 1.3, 2.3, 3.2, 2.4, 3.4/; 

parameters c(N, N)/1.2 5, 1.3 1, 2.3 1, 3.2 2, 
       2.4 10, 3.4 8/,
       u(N, N)/1.2 30, 3.2 10, 3.4 20/,
s(N)/1 10, 2 30, 3 10, 4 -50/;

variables x(N,N), totalcost; 
positive variable x;

equations balance(N),obj, upperbound12, upperbound32, upperbound34;

obj.. totalcost =e= sum(A, c(A)*x(A));

balance(N).. sum(j$A(N,j), x(N,j))  - sum(j$A(j,N), x(j,N)) =e= s(N);

upperbound12.. x('1','2') =l= u('1','2'); 
upperbound32.. x('3','2') =l= u('3','2'); 
upperbound34.. x('3','4') =l= u('3','4'); 

model mcnfp /all/;
solve mcnfp using lp minimizing totalcost;

,Solver Status,Model Status,Objective,#equ,#var,Model Type,Solver,Solver Time
0,Normal (1),Optimal Global (1),470.0,8,7,LP,OSICPLEX,0

In [3]:
%gams display x.l,totalcost.l
%gams_lst -e

E x e c u t i o n


----     35 VARIABLE x.L

            3           4

1      10.000
2                  30.000
3                  20.000


----     35 VARIABLE totalcost.L           =      470.000